.travel {
    margin-bottom: 100px;

    &_heading {
        font-family: 'Imprima';
        font-size: 90px;
        line-height: 100px;
        color: #fff;
        text-align: center;
    }

    &_bg {
        padding-top: 100px;
        margin-bottom: 88px;
    }

    &_wrap {
        display: flex;
        align-items: center;
        gap: 300px;
        justify-content: center;
    }

    &_imgg {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imgg {
        width: 400px;
        height: 600px;
        object-fit: cover;
        margin-bottom: 30px;
    }

    &_btn {
        background-color: none;
        border: none;
        outline: none;
    }
}

@media only screen and (max-width: 768px) {
    .travel {
    
        &_heading {
            font-size: 50px;
            line-height: 60px;
        }
    
        &_bg {
            padding-top: 125px;
        }
    
        &_wrap {
            gap: 200px;
        }
    
        &_imgg {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &_img {
            width: 60px;
            height: 60px;
            object-fit: contain;
        }
    
        .imgg {
            width: 400px;
            height: 500px;
            margin-bottom: 50px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .travel {
    
        &_heading {
            font-size: 40px;
            line-height: 50px;
        }
    
        &_wrap {
            gap: 150px;
        }

        &_img {
            width: 40px;
            height: 40px;
        }
    
        .imgg {
            width: 300px;
            height: 400px;
        }
    }
}