.contact {
    margin-bottom: 100px;

    &_container {
        position: relative;
    }

    &_heading {
        font-family: 'Imprima';
        font-size: 90px;
        line-height: 100px;
        color: #fff;
        text-align: center;
    }

    &_bgc {
        padding-top: 100px;
        margin-bottom: 30px;
    }

    &_wrap {
        display: flex;
        gap: 50px;
        margin-bottom: 100px;
    }

    &_left {
        margin-top: 38px;

        &-heading {
            font-family: 'Indie Flower';
            font-size: 49px;
            line-height: 62px;
            margin-bottom: 25px;
        }
    }

    &_text {
        font-family: 'Imprima';
        font-size: 35px;
        line-height: 43.41px;
    }

    &_img {
        width: 490px;
        height: 700px;
        object-fit: contain;
    }

    &_modal {
        width: 770px;
        height: 538px;
        background-color: #D5EEED;
        position: absolute;
        z-index: -1;
        left: 670px;
        top: 430px;
    }

    &_form {
        display: block;
        background-color: #D5EEED;
        padding: 45px 86px 81px 79px;  
        max-width: 686px;

        &-heading {
            font-family: 'Imprima';
            font-size: 60px;
            line-height: 72.64px;
            color: #2C1010;
            margin-bottom: 50px;
        }
    }

    &_input {
        border: none;
        outline: none;
        background-color: #9FD0D1;
        font-family: 'Inconsolata';
        font-size: 30px;
        line-height: 32.21px;
        color: #2C1010;
        padding: 15px 50px;
        margin-bottom: 29px;
        display: block;
    }

    &_btn {
        font-family: 'Inconsolata';
        font-size: 30px;
        line-height: 32.21px;
        color: #2C1010;
        padding: 15px 50px;
        border: none;
        outline: none;
        background-color: #2373AF; 
        width: 100%;
        text-align: left;
    }

    &_vector {
        z-index: 2;
        margin-left: -50px;
        margin-top: -100px;
        width: 600px;
        height: 400px;
        object-fit: contain;
    }
}

@media only screen and (max-width: 1024px) {
    .contact {
    
        &_heading {
            font-size: 70px;
            line-height: 80px;
        }
    
        &_left {
            margin-top: 38px;
    
            &-heading {
                font-size: 39px;
                line-height: 52px;
                max-width: 550px;
            }
        }
    
        &_text {
            font-size: 30px;
            line-height: 35.41px;
            max-width: 500px;
            margin: 0;
        }
    
        &_img {
            width: 400px;
            height: 600px;
        }
    
        &_modal {
            width: 470px;
            height: 438px;
            left: 550px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .contact {
    
        &_heading {
            font-size: 50px;
            line-height: 60px;
        }

        &_bgc {
            padding-top: 125px;
            margin-bottom: 50px;
        }

        &_wrap {
            flex-direction: column;
        }
    
        &_left {
            margin-top: 0px;
            text-align: center;
    
            &-heading {
                font-size: 28px;
                line-height: 32px;
                max-width: none;
            }
        }
    
        &_text {
            font-size: 20px;
            line-height: 25.41px;
            max-width: none;
        }
    
        &_img {
            width: 300px;
            height: 500px;
        }

        &_imgg {
            display: flex;
            justify-content: center;
        }
    
        &_modal {
            width: 720px;
            height: 538px;
            left: -10px;
            top: 350px;
        }

        &_form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #D5EEED;
            padding: 25px 66px 61px 59px;  
            max-width: 686px;
    
            &-heading {
                font-size: 30px;
                line-height: 42.64px;
                margin-bottom: 30px;
            }
        }
    
        &_input {
            font-size: 20px;
            line-height: 22.21px;
        }
    
        &_btn {
            font-size: 20px;
            line-height: 22.21px;
        }
    
        &_vector {
            margin-top: -150px;
            width: 300px;
        }
    }
}

@media only screen and (max-width: 425px) {
    .contact {
    
        &_heading {
            font-size: 40px;
            line-height: 50px;
        }

        &_bgc {
            padding-top: 125px;
        }
    
        &_left {
    
            &-heading {
                font-size: 25px;
                line-height: 30px;
            }
        }
    
        &_text {
            font-size: 18px;
            line-height: 23.41px;
        }
    
        &_img {
            width: 300px;
            height: 400px;
        }
    
        &_modal {
            width: 100px;
            height: 308px;
            left: 250px;
            top: 730px;
        }

        &_form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #D5EEED;
            padding: 25px;  
            max-width: 686px;
    
            &-heading {
                font-size: 30px;
                line-height: 42.64px;
                margin-bottom: 30px;
            }
        }
    
        &_input {
            font-size: 20px;
            line-height: 22.21px;
        }
    
        &_btn {
            font-size: 20px;
            line-height: 22.21px;
        }
    
        &_vector {
            display: none;
        }
    }
}